body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100vh;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:antiquewhite;
    background-color: rgb(63, 57, 57);
}

h2{
    font-size: 40px;
    margin: 0;
}

.reset_btn{
    font-size: medium;
    color:rgb(63, 57, 57);
    background-color: antiquewhite;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.reset_btn:active{
    transform:translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.life_btn{
    font-size: 32px;
    padding: 10px 32px;
    color:rgb(63, 57, 57);
    background-color: antiquewhite;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.life_btn:active{
    transform:translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.Xlife_btn{
    font-size: 16px;
    padding: 5px 12px;
    color:rgb(63, 57, 57);
    background-color: antiquewhite;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.Xlife_btn:active{
    transform:translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.cmd_btn{
    font-size: 32px;
    color:aliceblue;
    padding: 30px 40px;
    border:rgb(0, 0, 0);
    background:rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    gap: 20px
}

.cmd_btn:active{
    background:rgb(0, 0, 0);
}

.cmd_mns_btn{
    font-size: 18px;
    color:aliceblue;
    padding: 10px 25px;
    border:rgb(0, 0, 0);
    background:rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    gap: 20px
}

.cmd_mns_btn:active{
    background:rgb(0, 0, 0);
}

.cmd_cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.single_cmd_cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-config{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-config:active{
    transform:translateY(2px);
    border: none;
    background: none;
}

.Btns_Container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#life_txt{
    font-size: 100px;
    margin-bottom: 25px;
}